<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.container1{
  margin: 2%;
  width: 100%;
  height: 100vh;
  background-color: #82b340;
  border: 4px solid white;
}
.container2{
  
  margin: 2%;
  width: 100%;
  height: auto;
  background-color: #ececec;
  border: 4px solid white;
}
.container3{
  margin: 2%;
  width: 100%;
  height: 100vh;
  background-color:#ececec;
  border: 4px solid white;
}
.card1-pic{
  width: 100%;
  justify-items: center;
 
}
img{
  width: 250px;
  border-radius: 50%;
  margin-top: 30%;
}
.rate{
  margin-top: 10%;
  font-size: 20px;
}
.card2-name{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10vh;
  padding-right: 30vh;
}
.card3-skill{
  width: 100%;
  height: 20vh;
  margin-top: 10%;
}
.card2-education{
  margin-top: 10%;
  padding-bottom: 5%;
}
.card3-experience{
  margin-top: 20%;
}
</style>
<body>


<!-- ------------------------------------------------------------------------------------------------------------------------------ -->



  
  <div class="w3-col m4  w3-center">

    <div class="container1">
      <div class="card1-pic">
          <img src="https://i.pinimg.com/474x/02/6a/cc/026acca08fb7beea6bd4ecd430e312bd.jpg" >
      </div>
      <div class="rate">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>

  </div>


  <div class="w3-col m4  w3-center">
    <div class="container2">
        <div class="card2-name">
            Name  Last-name
        </div>
        <div class="card2-aboutself">
          <div class="w3-card w3-margin">
            <div class="w3-container w3-padding" style="background-color: #ececec;" >
              <h3 style="margin-right:100%;">Introduce</h3>
            </div>
            <div class="w3-container w3-white" style="width: 100%; padding-top: 2vh;">
              <div style="text-align: left; list-style: none; padding-bottom: 2%;" >
                Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla
            </div> 
            </div>
          </div>
        </div>
    

        <div class="card2-education">
          <div class="w3-card w3-margin">
            <div class="w3-container w3-padding" style="background-color: #ececec;" >
              <h3 style="margin-right:100%;">Education</h3>
            </div>
            <div class="w3-container w3-white" style="width: 100%; padding-top: 2vh;">
              <div style="text-align: left; list-style: none; padding-bottom: 2%;" >
              <h4><b>Oxford-University</b></h4>
              <h5><span class="w3-opacity"> Jan 2000 - Feb 2001</span></h5>
              <li>
                Department of mathematic 
              </li>
              <h4><b>Cambridge-University</b></h4>
              <h5><span class="w3-opacity"> Jan 2002 - Feb 2003</span></h5>
              <li>
                Department of science
              </li>
            </div> 
            </div>
          </div>
        </div>






      </div>
    </div>
  
  <div class="w3-col m4 w3-center">
    <div class="container3">

      <div class="card3-skill">
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding" style="background-color: #ececec;">
            <h3 style="margin-right:100%;">Skills</h3>
          </div>
          <div class="w3-container w3-white" style="width: 100%; padding-top: 2vh;">
            <p style="text-align: left; padding-top: 2%;">
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Talkative</b></on>  
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Sex</b></on>
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Double</b></on>
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Need to limit for information </b></on>  
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Talkative</b></on>  
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Sex</b></on>
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Double</b></on>
              <on class="w3-button w3-padding-small w3-blue w3-border"><b>Need to limit for information </b></on>  
              <on class="w3-button w3-padding-small w3-blue w3-border"> <span style="font-size: 20px;" class="glyphicon">&#xe081;</span></on>
          </p> 
          </div>
        </div>
      </div>

      <div class="card3-experience">
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding" style="background-color: #ececec;" >
            <h3 style="margin-right:100%;">Experience</h3>
          </div>
          <div class="w3-container w3-white" style="width: 100%; padding-top: 2vh;">
            <div style="text-align: left; list-style: none; padding-bottom: 2%;" >
              Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
              tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla
          </div> 
          </div>
        </div>
      </div>



    </div>
    
  </div>
</div>















</body>
</html>
